#header a.brand {
  padding-left: 40px;
}

canvas {
  position: absolute;
  z-index: -100;
}

#content {
  margin-top: 41px;
}

h3 {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 28px;
}

p.reset_button {
  text-align: center;
  margin-top: 3em;
}

#signature {
  line-height: 41px;
  margin: 0;
  text-align: center;
  width: 90px;
}



